{% if not request.user.is_authenticated %}
    <script type="text/javascript">
        document.location.reload();
    </script>
{% else %}
    {% load static from staticfiles %}
        <script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
    {% block form_body %}
    {% endblock form_body %}
    <script type="text/javascript">
        $(".input-group.date").datetimepicker().on('show.bs.modal', function(event) {
            // prevent datepicker from firing bootstrap modal "show.bs.modal"
            event.stopPropagation();
        });
        $formView.find("[type='checkbox'].form-control").removeClass("form-control").bootstrapToggle({size: 'mini'});

        $("form").find("[type='number'].touch-spin").prop("type", "text").TouchSpin({
            verticalbuttons: true
        });
    </script>
{% endif %}
<style type="text/css">
    .form-group>label{
        vertical-align: middle;
        line-height: 2.9em;
    }
</style>