body {
    padding-top: 40px;
    background-color: #eee;
}

.swal2-title {
    font-size: 20px !important;
}

.form-signin {
    max-width: 325px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin-heading {
    text-align: center;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    font-size: 14px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-group{
    margin: 10px 0
}

#tbUsuario{
    margin-top: 20px;
}
#btnIniciar{
    margin-top: 17px;
}


.main-footer {
    font-size: .7em;
    position: fixed;
    height: 35px;
    bottom: 0;
}