{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>
<form method='GET' id="formAccEst">
    {% csrf_token %}
    {{ formAccEst }}
</form>
<div id="dataActividad">
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#formAccEst").ajaxForm({ target: "#dataActividad" });
    });
    $(".formAccEst_load").on("change", function() {
        formAccEst_load();
    });
    function formAccEst_load() {
        if ($("#cb_accest").val() > 0) {
            url_AO = "{% url 'planificacion:actividad_tabla' 0 %}";
            url_AO = url_AO.replace("/0", "/" + $("#cb_accest").val());
            $("#formAccEst").prop("action", url_AO).submit();
        }
    }
</script>