{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Opciones</h3>
      </div>
      <div class="panel-body">


        <form method="Post" action="{% url 'reportes:socios_xlsx' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="">
                    {% if field.is_hidden  %}
                        {{ field.as_hidden }}
                    {% else %}

                        
                            <div class="col-xs-12 col-sm-6 form-group">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label}}:</label>
                                        <div class="col-sm-9">
                                            {{ field }}    
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                    {% endif %}
                </div>
            {% endfor %}
            
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-default">Exportar</button>        
                </div>
            </div>
            

        </form>

      </div>
    </div>

{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        $("#formBase").ajaxForm({ target: $("#dataSocio") });
        $(".formBase_load").on("change", function() {
            formBase_load();
        });
        function formBase_load() {
            if ($("#cb_base").val() > 0) {
                $("#formBase").submit();
            }
        }
    </script>
{% endblock maestro_scripts %}