{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>
<form method='GET' id="formProdProy">
    {% csrf_token %}
    {{ formProdProy }}
</form>
<div id="dataAEXPOP">
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#formProdProy").ajaxForm({ target: "#dataAEXPOP" });
    });
    $(".formProdProy_load").on("change", function() {
        formProdProy_load();
    });
    function formProdProy_load() {
        if ($("#cb_prodproy").val() > 0) {
            url_aexpop = "{% url 'planificacion:aexpop_tabla' 0 %}";
            url_aexpop = url_aexpop.replace("/0", "/" + $("#cb_prodproy").val());
            $("#formProdProy").prop("action", url_aexpop).submit();
        }
    }
</script>