{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <form method='GET' id="formProgPptal" action="{% url 'planificacion:aexpop_prodproy' %}">
        {% csrf_token %}
        {{ formProgPptal }}
    </form>
    <div id="dataProdProy">
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#formProgPptal").ajaxForm({ target: "#dataProdProy" });
        });
        $(".formProgPptal_load").on("change", function() {
            formProgPptal_load();
        });
        function formProgPptal_load() {
            if ($("#cb_progpptal").val() > 0) {
                $("#formProgPptal").submit();
            }
        }
    </script>
{% endblock maestro_scripts %}