{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DRAC</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{% static 'css/yeti.css' %}">

    <link rel="stylesheet" href="{% static 'css/waitMe.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">


    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>

<div class="container">
    <form class="form-signin">

        {% csrf_token %}
        <div class="text-center">
            <img src="{% static 'img/drac_mini.png' %}">
        </div>
        <h2 class="form-signin-heading">Sis<strong>DRAC</strong></h2>

        <div class="form-group has-feedback">
            <input id="tbUsuario" type="text" class="form-control" placeholder="Usuario" autofocus>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input id="tbClave" type="password" class="form-control" placeholder="Contraseña">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <button id="btnIniciar" class="btn btn-primary btn-block" type="button">Iniciar Sesión</button>
    </form>

    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">Versión 1.0</div>
            Copyright &copy; 2017 <strong>{{ request.app_config.EMPRESA|safe }}</strong>. Todos los Derechos Reservados
        </div>
    </footer>

</div> <!-- /container -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
<script type="text/javascript" type="" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/waitMe.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sweetalert2.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/token.js' %}"></script>

<script type="text/javascript" src="{% static 'js/inicio/login.js' %}"></script>


<script  type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>