{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>
<form method='GET' id="formActividad">
    {% csrf_token %}
    {{ formActividad }}
</form>
<div id="dataSubActCom">
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#formActividad").ajaxForm({ target: "#dataSubActCom" });
    });
    $(".formActividad_load").on("change", function() {
        formActividad_load();
    });
    function formActividad_load() {
        if ($("#cb_actividad").val() > 0) {
            url_SAC = "{% url 'planificacion:subactividadcomponente_tabla' 0 %}";
            url_SAC = url_SAC.replace("/0", "/" + $("#cb_actividad").val());
            $("#formActividad").prop("action", url_SAC).submit();
        }
    }
</script>