{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-fixed-columns.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-es-SP.min.js' %}"></script>

<div id="toolbar">
    <button id="btnNuevo" type="button" class="btn btn-default" >
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
<table id="tablaSubActividadComponente"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-url="{% url 'planificacion:subactividadcomponente_listar' oActividad.pk %}">
    <thead>
        <tr>
            <th data-field="codigo" data-sortable="true" data-switchable="true" class="col-md-2">Código</th>
            <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-3">Nombre</th>
            <th data-field="unidadmedida" data-sortable="true" data-switchable="true" class="col-md-3">Unidad de Medida</th>
            <th data-field="indicador" data-sortable="true" data-switchable="true" class="col-md-3">Indicador</th>
            <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
                class="col-md-1" data-align="center">Acciones</th>
        </tr>
    </thead>
</table>
<div id="modalSubActividadComponente" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    url_crear = "{% url 'planificacion:subactividadcomponente_crear' %}";
    url_eliminar = "{% url 'planificacion:subactividadcomponente_eliminar' 0 %}";
    url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
    url_editar = "{% url 'planificacion:subactividadcomponente_actualizar' 0 %}";
    url_editar = url_editar.substr(0, url_editar.length-1);
    //
    $formTitulo = "Sub Actividad/Componente";
    $formGenero = "a";
    $modalForm = $("#modalSubActividadComponente");
    $tablaView = $("#tablaSubActividadComponente");
    $formView = null;
    $firstField = "id_codigo";
    opcion = "";
    idValue = 0;
    url_post = null;
    //
    $modalFormLoaded = "aeLoadedForm();";
    function aeLoadedForm() {
        setTimeout(function() {
            $("#id_actividadid").val($("#cb_actividad").val());
        }, 200);
    }
</script>

