{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-fixed-columns.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-es-SP.min.js' %}"></script>

<div id="toolbar">
    <button id="btnNuevo" type="button" class="btn btn-default" >
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
<table id="tablaAccionEstrategica"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-url="{% url 'planificacion:accionestrategica_listar' ObjEsp.pk %}">
    <thead>
        <tr>
            <th data-field="codigo" data-sortable="true" data-switchable="true" class="col-md-1">Código</th>
            <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-9">Nombre</th>
            <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
                class="col-md-1" data-align="center">Acciones</th>
        </tr>
    </thead>
</table>
<div id="modalAccionEstrategica" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    url_crear = "{% url 'planificacion:accionestrategica_crear' %}";
    url_eliminar = "{% url 'planificacion:accionestrategica_eliminar' 0 %}";
    url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
    url_editar = "{% url 'planificacion:accionestrategica_actualizar' 0 %}";
    url_editar = url_editar.substr(0, url_editar.length-1);
    //
    $formTitulo = "Acción Estratégica";
    $formGenero = "a";
    $modalForm = $("#modalAccionEstrategica");
    $tablaView = $("#tablaAccionEstrategica");
    $formView = null;
    $firstField = "id_codigo";
    opcion = "";
    idValue = 0;
    url_post = null;
    //
    $modalFormLoaded = "aeLoadedForm();";
    function aeLoadedForm() {
        setTimeout(function() {
            $("#id_objetivoespecifico_id").val($("#cb_objesppdrc").val());
        }, 200);
    }
</script>

