{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/select2/django_select2.js' %}"></script>
<form method='GET' id="formActividad" action="{% url 'agricola:tareacpcu_subactividad' %}">
    {% csrf_token %}
    {{ formActividad }}
</form>
<div id="dataSubActividad">
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#formActividad").ajaxForm({ target: "#dataSubActividad" });
    });
    $(".formActividad_load").on("change", function() {
        formActividad_load();
    });
    function formActividad_load() {
        if ($("#cb_actividad").val() > 0) {
            $("#formActividad").submit();
        }
    }
</script>