{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-fixed-columns.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-es-SP.min.js' %}"></script>

<div id="toolbar">
    <button id="btnNuevo" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
<table id="tablaTareaCpCu"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-url="{% url 'agricola:tareacpcu_listar' oSubActividad.pk %}">
    <thead>
    <tr>
        <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-3">Nombre</th>
        <th data-field="trabajador" data-sortable="true" data-switchable="true" class="col-md-3">Responsable</th>
        <th data-field="base" data-sortable="true" data-switchable="true" class="col-md-2">Base</th>
        <th data-field="caserio" data-sortable="true" data-switchable="true" class="col-md-1">Caserío</th>
        <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
            class="col-md-1" data-align="center">Acciones</th>
    </tr>
    </thead>
</table>
<div id="modalTareaCpCu" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    url_crear = "{% url 'agricola:tareacpcu_crear' %}";
    url_eliminar = "{% url 'agricola:tareacpcu_eliminar' 0 %}";
    url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
    url_editar = "{% url 'agricola:tareacpcu_actualizar' 0 %}";
    url_editar = url_editar.substr(0, url_editar.length-1);
    //
    $formTitulo = "Tarea de Cultivo";
    $formGenero = "a";
    $modalForm = $("#modalTareaCpCu");
    $tablaView = $("#tablaTareaCpCu");
    $formView = null;
    $firstField = 'id_nombre';
    opcion = "";
    idValue = 0;
    url_post = null;
</script>
<script type="text/javascript">
    $modalFormLoaded = "formLoadUrl();";
    function formLoadUrl() {
        setTimeout(function() {
            if ($("#id_subactid")) $("#id_subactid").val($("#cb_subactividad").val());
        }, 200);
    }
</script>