{% extends "base_form.html" %}
{% block form_body %}
    <form id="formPersona" method='POST' class="form" role="form">
        {% csrf_token %}
        <input type="hidden" name="persona_id" value="{{ persona_id }}">
        {{ object.nombreCompleto }}
    </form>
    <script>
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView = $('#formPersona');
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}