{% extends "base_form.html" %}
{% block form_body %}
    <form id="formRazaSocio" method='POST' class="form" role="form">
        {% csrf_token %}
        {% if delete_error != None %}
            <div class="text-danger form-group">
                Error!!: {{ delete_error|escape }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-2">
                <label for="socios_nombre"  style="font-weight: bold;">Socio</label>
            </div>
            <div class="10">
                <p id="socios_nombre">{{ object.socio.persona.nombreCompleto }}</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="socios_raza"  style="font-weight: bold;">Raza</label>
            </div>
            <div class="10">
                <p id="socios_raza">{{ object.raza.nombre }}</p>
            </div>
        </div>

        {% if object.telefono|length > 0 %}<br/>{{ object.telefono }}{% endif %}
        {% if object.email|length > 0 %}<br/>{{ object.email }}{% endif %}
        <br/>{{ object.base }}
    </form>
    <script>
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView = $('#formRazaSocio');
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}