{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-8 col-md-8"><i class="glyphicon glyphicon-modal-window"></i> Datos a Seleccionar</div>
                            <div class="col-lg-4 col-md-4 text-right">
                                <div class="btn-group text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="panel-body">
                    {% for field in form %}
                        <div class="form-group row">
                            <div class="col-sm-2 ">
                                <label for="{{ field.id_for_label }}" class="col-form-label etiqueta">{{ field.label}}:</label>
                            </div>
                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
{#            <div class="form-group row">#}
                <div id="datosSocio"></div>
{#            </div>#}
        </div>
    </div>
    <div id="toolbar">
        <button id="btnNuevo" type="button" class="btn btn-default" >
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
	</div>
	<table id="tablaRazaSocio"
		data-toolbar="#toolbar"
		data-toggle="table"
		data-url="{% url 'agricola:razasocio_listar' %}"
       data-query-params="queryParams">
        <thead>
        <tr>
            <th data-field="raza" data-sortable="true" data-switchable="true" class="col-md-2">Raza</th>
            <th data-field="rendimiento" data-sortable="true" data-switchable="true" class="col-md-2">Rendimiento</th>
            <th data-field="nrocabezas" data-sortable="true" data-switchable="true" class="col-md-2">Nro Cabezas</th>
            <th data-field="produccion" data-sortable="true" data-switchable="true" class="col-md-2">Produccion</th>
            <th data-field="seca" data-sortable="true" data-switchable="true" class="col-md-3">Seca</th>
            <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
                class="col-md-1" data-align="center">Acciones</th>
        </tr>
        </thead>
	</table>
    <div id="modalRazaSocio" class="modal fade" data-keyboard="true" data-backdrop="true" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">


        url_listar = "{% url 'agricola:razasocio_listar' %}"

        $('#toolbar button').prop('disabled', true);

        $('#id_socios').change(function(event) {
          $('#toolbar button').prop('disabled', false);
          $('#tablaRazaSocio').bootstrapTable('refresh', {query: {socio: $(this).val()}});

        });
        function queryParams(p) {
          if( $("#id_socios").val() != null){
            p.socio = $("#id_socios").val();
          }
          return p;
        }
        $('#modalRazaSocio').on('shown.bs.modal', function () {
          $("#id_socio").val($("#id_socios").val());
        });

    </script>


    <script type="text/javascript">
        url_crear = "{% url 'agricola:razasocio_crear' %}";
        url_eliminar = "{% url 'agricola:razasocio_eliminar' 0 %}";
        url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
        url_editar = "{% url 'agricola:razasocio_actualizar' 0 %}";
        url_editar = url_editar.substr(0, url_editar.length-1);
        //
        $formTitulo = "Socio";
        $formGenero = "o";
        $modalForm = $("#modalRazaSocio");
        $tablaView = $("#tablaRazaSocio");
        $formView = null;
        $firstField = 'tb_base';
        opcion = "";
        idValue = 0;
        url_post = null;
    </script>
    <script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>

        <script type="text/javascript">
        $("#id_socios").on("change", function() {
            url_socio = "{% url 'agricola:razasocio_detailview' 0 %}";
            url_socio = url_socio.substr(0, url_socio.length-1);
            $.get( url_socio+$(this).val() , function( data ) {
                $( "#datosSocio" ).html( data );
            });
        });
        //$("#id_base").select2('refresh');
    </script>
{% endblock maestro_scripts %}