{% extends "base_form.html" %}
{% block form_body %}
    <form method='POST' id="formProfesion" >
        {% csrf_token %}

        <div class="form-group row">

            <label for="{{ form.nombre.id_for_label }}" class="col-sm-2 col-form-label">{{ form.nombre.label}}:</label>
            <div class="col-sm-10">
                {{ form.nombre }}
            </div>

                {% for error in form.nombre.errors  %}
                <div class="col-sm-12 col-sm-offset-2" >
                    <label id="iderrorProfesion" for="{{ form.nombre.id_for_label }}" class="text-danger">
                    <h5>{{ error|escape }}</h5></label>
                </div>

                {% endfor %}
        </div>


    </form>
{% endblock form_body %}
