{% extends "base_form.html" %}
{% block form_body %}
    <form id="formAccionObra" method='POST' class="form" role="form">
        {% csrf_token %}
        {% if delete_error != None %}
            <div class="text-danger form-group">
                Error!!: {{ delete_error|escape }}
            </div>
        {% endif %}
        Departamento: {{ object.caserio.centropoblado.distrito.provincia.departamento.nombre }}<br/>
        Provincia: {{ object.caserio.centropoblado.distrito.provincia.nombre }}<br/>
        Distrito: {{ object.caserio.centropoblado.distrito.nombre }}<br/>
        Centro Poblado: {{ object.caserio.centropoblado.nombre }}<br/>
        Caserío: {{ object.caserio.nombre }}<br/>
        Kilómetro: {{ object.km }}<br/>
        Volumen: {{ object.volumen }}<br/>
        Conduce: {{ object.conduce }}<br/>
        Presupuesto: {{ object.presupuesto }}<br/>
        Hectárea: {{ object.ha }}<br/>
    </form>
    <script>
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView = $('#formAccionObra');
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}