{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <form method='GET' id="formProdProy" action="{% url 'planificacion:accionobra_accest' %}">
        {% csrf_token %}
        {{ form }}
    </form>
    <div id="dataAccEst">
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#formProdProy").ajaxForm({ target: "#dataAccEst" });
        });
        $(".formProdProy_load").on("change", function() {
            formProdProy_load();
        });
        function formProdProy_load() {
            if ($("#cb_prodproy").val() > 0) {
                $("#formProdProy").submit();
            }
        }
    </script>
{% endblock maestro_scripts %}