{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-fixed-columns.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-es-SP.min.js' %}"></script>

<div id="toolbar">
    <button id="btnNuevo" type="button" class="btn btn-default" >
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>
<table id="tablaAccionObra"
    data-toolbar="#toolbar"
    data-toggle="table"
    data-url="{% url 'planificacion:accionobra_listar' oAeXPop.pk %}">
    <thead>
        <tr>
            <th data-field="caserio" data-sortable="true" data-switchable="true" class="col-md-3">Caserío</th>
            <th data-field="cadenaproductiva" data-sortable="true" data-switchable="true" class="col-md-3">Cadena Productiva</th>
            <th data-field="km" data-sortable="true" data-switchable="true" class="col-md-1" data-align="right">Kilómetro</th>
            <th data-field="volumen" data-sortable="true" data-switchable="true" class="col-md-1" data-align="right">Volumen</th>
            <th data-field="conduce" data-sortable="true" data-switchable="true" class="col-md-1" data-align="right">Conduce</th>
            <th data-field="presupuesto" data-sortable="true" data-switchable="true" class="col-md-1" data-align="right">Presupuesto</th>
            <th data-field="ha" data-sortable="true" data-switchable="true" class="col-md-1" data-align="right">Hectárea</th>
            <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
                class="col-md-1" data-align="center">Acciones</th>
        </tr>
    </thead>
</table>
<div id="modalAccionObra" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    url_crear = "{% url 'planificacion:accionobra_crear' %}";
    url_eliminar = "{% url 'planificacion:accionobra_eliminar' 0 %}";
    url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
    url_editar = "{% url 'planificacion:accionobra_actualizar' 0 %}";
    url_editar = url_editar.substr(0, url_editar.length-1);
    //
    $formTitulo = "Acción/Obra";
    $formGenero = "a";
    $modalForm = $("#modalAccionObra");
    $tablaView = $("#tablaAccionObra");
    $formView = null;
    $firstField = "id_departamento";
    opcion = "";
    idValue = 0;
    url_post = null;
    //
    $modalFormLoaded = "aoLoadedForm();";
    function aoLoadedForm() {
        setTimeout(function() {
            $("#id_aexpopid").val($("#cb_accest").val());
        }, 200);
    }
</script>

