{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <form method='GET' id="formProgPptal">
        {% csrf_token %}
        {{ formProgPptal }}
    </form>
    <div id="dataProdProy">
    </div>
{% endblock maestro_contenido %}

{% block maestro_scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#formProgPptal").ajaxForm({ target: "#dataProdProy" });
        });
        $(".formProgPptal_load").on("change", function() {
            formProgPptal_load();
        });
        function formProgPptal_load() {
            if ($("#cb_progpptal").val() > 0) {
                urlpp = "{% url 'planificacion:productoproyecto_tabla' 'py' 0 %}";
                urlpp = urlpp.replace("/0", "/" + $("#cb_progpptal").val());
                $("#formProgPptal").prop("action", urlpp).submit();
            }
        }
    </script>
{% endblock maestro_scripts %}