{% extends "base_drac.html" %}
{% load static from staticfiles %}

{% block maestro_titulo %}
{% endblock maestro_titulo %}

{% block maestro_contenido %}
    <div>
      
        {% for field in form %}


            <div class="form-group row">
           
                <div class="col-sm-2 ">
                  
                  <label for="{{ field.id_for_label }}" class="col-form-label etiqueta">{{ field.label}}:</label>
     
                </div>


                <div class="col-sm-4">
                    {{ field }}
                </div>
              </div>
        {% endfor %}

      
    </div>
    <div id="toolbar">
        <button id="btnNuevo" type="button" class="btn btn-default" >
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button id="btnxlsx" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon glyphicon-save" aria-hidden="true"></span>
        </button>
	</div>
	<table id="tablaOrganizacion"
		data-toolbar="#toolbar"
		data-toggle="table"
		data-url="{% url 'administracion:organizacion_listar' %}"
    data-query-params="queryParams">
        <thead>
        <tr>
          <th data-field="nombre" data-sortable="true" data-switchable="true" class="col-md-3">Nombre</th>
          <th data-field="area" data-sortable="true" data-switchable="true" class="col-md-4">Area</th>
          <th data-field="caserio" data-sortable="true" data-switchable="true" class="col-md-4">Caserio</th>
          <th data-field="action" data-formatter="actionFormatter" data-switchable="false" data-events="actionEvents"
                class="col-md-1" data-align="center">Acciones</th>
        </tr>
        </thead>
	</table>

    <div id="modalOrganizacion" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Exportar</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <p>
                <form method="Post">
                  <div class="form-group col-xs-12">
                    <label for="exp_provincia">Provincia:</label>
                    <input type="text" name="provincia" id="exp_provincia" class="form-control">
                  </div>
                  <div class="form-group col-xs-12">
                    <label for="exp_distrito">Distrito:</label>
                    <input type="text" name="distrito" id="exp_distrito" class="form-control">
                  </div>
                  <div class="form-group col-xs-12">
                    <label for="exp_centropoblado">Centro Poblado:</label>
                    <input type="text" name="centropoblado" id="exp_centropoblado" class="form-control">
                  </div>
                  <div class="col-xs-12 text-right">
                    <button id="btnExcel" type="button" class="btn btn-default">Exportar</button>    
                  </div>
                </form>
            </p>  
          </div>
      </div>
      <!-- div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div -->
    </div>

  </div>
</div>


{% endblock maestro_contenido %}
  
{% block maestro_scripts %}
    <script type="text/javascript">


    url_listar = "{% url 'administracion:organizacion_listar' %}"

    $('#toolbar button').prop('disabled', true);
    
    $('#id_caserios').change(function(event) {
      $('#toolbar button').prop('disabled', false);
      $('#tablaOrganizacion').bootstrapTable('refresh', {query: {caserio: $(this).val()}});

    });
    function queryParams(p) {
      if( $("#id_caserios").val() != null){
        p.caserio = $("#id_caserios").val();
      }        
      return p;
    }
    $('#modalOrganizacion').on('shown.bs.modal', function () {
      $("#id_caserio").val($("#id_caserios").val());
    });

    </script>


    <script type="text/javascript">
        url_crear = "{% url 'administracion:organizacion_crear' %}";
        url_eliminar = "{% url 'administracion:organizacion_eliminar' 0 %}";
        url_eliminar = url_eliminar.substr(0, url_eliminar.length-1);
        url_editar = "{% url 'administracion:organizacion_actualizar' 0 %}";
        $formTitulo = "Organizacion";
        $formGenero = "a";
        $modalForm = $("#modalOrganizacion");
        $tablaView = $("#tablaOrganizacion");
        $formView = null;
        $firstField = "id_nombre";
        opcion = "";
        idValue = 0;
        url_post = null;
    </script>
    <script src="{% static 'js/listagrilla.js' %}" type="text/javascript"></script>
    
    <script type="text/javascript">
      $("#btnExcel").on('click', function() {
        // alert($("#f_inicio").val())
          window.location = document.location.href + 'xlsx/' + $("#exp_provincia").val() + '/' + $("#exp_distrito").val()  + '/' + $("#exp_centropoblado").val()  + '/';
      })
    </script>

{% endblock maestro_scripts %}

