{% extends "base_form.html" %}
{% block form_body %}
    <form id="formUnidadMedida" method='POST' class="form" role="form">
        {% csrf_token %}
        <input type="hidden" name="unidadmedida_id" value="{{ unidadmedida_id }}">
        {{ object.nombre }} - {{ object.abreviatura }}
    </form>
    <script>
        var form_options = {
            target: $modalForm,
            success: function() {
            }
        }
        $formView = $('#formUnidadMedida');
        $formView.ajaxForm(form_options);
    </script>
{% endblock form_body %}